<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
  <f:cObject typoscriptObjectPath="lib.content.default" data="{colPos: 0}" />
</f:section>

</html>
