<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<header>
  <f:comment>
    <f:render partial="NavMain/NavMain" arguments="{pages: navMain}" />
  </f:comment>
</header>

<main>
  <!--TYPO3SEARCH_begin-->
  <f:render section="Main" />
  <!--TYPO3SEARCH_end-->
</main>

</html>
